<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercado Liebre</title>
  <link rel="shortcut icon" href="/images/favicon.jpg">
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="./css/styles.css">
  <script src="https://kit.fontawesome.com/a415905aa4.js" crossorigin="anonymous"></script>
</head>

<body>
  <header class="main-header">
    <div class="main-header-top-bar">
      <img src="/images/logo-mercado-liebre.svg" class="logo" alt="Logo_Mercado_Liebre" title="Logo_Mercado_Liebre">

      <div class="content-search">
        <input type="search" id="gsearch" name="gsearch" placeholder="Buscar productos, marcas y más">
        <span><i class="fas fa-search"></i></span>
      </div>

      <h2 class="copy-header">
        <i class="fas fa-hand-holding-usd"></i>
        Comprá en cuotas y sin tarjeta de crédito
      </h2>
    </div>
    <a href="#" class="hamburguer-button">
      <i class="fas fa-bars"></i>
    </a>
    <nav class="main-navbar">
      <ul class="left-navbar">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
      <ul class="right-navbar">
        <li><a href="#">Creá tu cuenta </a> <i class="far fa-id-card"></i></li>
        <li><a href="#">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
        <li><a href="#">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
      </ul>
    </nav>
  </header>
  <div class="banners"></div>
  <main>
    <section>
      <h2>Basado en tu última visita</h2>
      <article class="articulo_producto">
        <div class="border_gris">
          <img src="./images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" title="Cafetera Moulinex">
        </div>
        <div class="content_info_produ">
          <span class="icono_producto"><i class="fas fa-truck"></i></span>
          <p class="mt_precio">$6.770</p>
          <p class="parrafo_precio">40% OFF</p>
          <h4 class="descripcion_producto">Cafetera Moulinex</h4>
        </div>
      </article>
    </section>
  </main>
  <footer>
    <div class="content-footer">
      <i class="fas fa-credit-card"></i>
      <h3>Pagá con tarjeta o en efectivo</h3>
      <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    </div>
    <div>
      <i class="fas fa-gift"></i>
      <h3>Envío gratis desde $ 2.500</h3>
      <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    </div>
    <div>
      <i class="fas fa-user-shield"></i>
      <h3>Seguridad, de principio a fin</h3>
      <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
    </div>

  </footer>
  <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
</body>

</html>