@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

img{
  width: 100%;
}

.main-header {
  background-color: #eac926;
  padding: 20px;
}

.main-header-top-bar {
  display: flex;
  flex-wrap: wrap;
}

.hamburguer-button {
  background-color: #03264c;
  color: #ffffff;
  display: block;
  max-width: 50px;
  padding: 10px 0;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
  margin: auto;
}

.logo {
  width: 140px;
  margin-right: 20px;
}

.content-search {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  color: #666666;
  font-size: 12px;
  display: flex;
  width: 160px;
  justify-content: center;
  align-items: center;
}

.content-search input[type="search"] {
  border: none;
  width: 125px;
}

.content-search span {
  border-left: solid 1px #ebebeb;
  padding: 5px;
}
.copy-header {
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  margin: 20px;
  color:black;
}

.main-navbar {
  display: none;
}

.main-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navbar a {
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 5px 0;
  font-size: 17px;
}

.banners{
  background-image: url("/images/img-home-banner.jpg");
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 100%;
}

footer {
  background-color: #fff;
  text-align: center;
  padding: 30px 15px 15px 15px;
}

footer i {
  font-size: 2em;
  margin: 50px 10px 5px 10px;
  color: #1259c3;
}

footer p {
  font-size: 12px;
  width: 80%;
  margin: auto;
  color:#666666;
}

h1,h2,h3,h4,h5,h6{
  color:#666666;
}
h5{
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}

section{
  background-color: #ebebeb;
  padding: 10px;
}

article{
  background-color: #fff;
  margin-top: 15px;
  padding: 15px;
}

.border_gray{
  border-bottom: solid 1px #ebebeb;
}

.content_info_produ i{
  width: 30px;
  height: 30px;
  padding: 5px;
  font-size: 16px;
  border: solid 1px #39b54a;
  border-radius: 50%;
  color: #39b54a;
  position: absolute;
  right: 31px;
  bottom: -98px;
  background: #fff;
}

.content_info_produ h4{
  font-size: 14px;
  margin: 10px 10px 10px 0;
}

@media (min-width: 768px) {
  .main-header-top-bar {
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
  }

  .content-search {
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    height: 32px;
  }
  .content-search input[type="search"] {
    width: 100%;
  }

  .content-search input[type="search"]:focus,  .content-search input[type="search"]:active {
    outline: none;
  }

  .hamburguer-button {
    display: none;
  }

  .logo {
    margin-right: 35px;
  }

  .copy-header {
    max-width: 350px;
    text-align: right;
  }

  .main-navbar {
    display: flex;
    justify-content: space-between;
  }

  .main-navbar ul {
    display: flex;
  }
  .main-navbar li {
    margin: 0 5px;
  }

  .main-navbar a {
    font-size: 15px;
    font-weight: 400;
  }
  footer p {
    font-size: 14px;
  }
  .banners{
    height: 200px;
  }
}

@media (min-width: 1200px) {

  .logo{
    width: 200px;
  }
  .main-header-top-bar,
  .main-navbar {
    max-width: 1200px;
    margin: auto;
  }

  .main-header-top-bar{
    margin-bottom: 20px;
  }
  .main-navbar li {
    margin: 0 10px;
  }

  .main-navbar a {
    font-size: 18px;
  }

  .copy-header {
    margin:0;
    max-width: none;
    font-weight: 400;
    font-size: 16px;
  }
  footer{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
  }
  footer i {
    font-size: 4em;
    margin: 50px 10px 5px 10px;
  }

  footer p {
    font-size: 16px;

  }
  footer h3{
    font-size: 22px;
  }
  h5{
    font-size: 18px;
  }
  .banners{
    height: 400px;
  }
}
